<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background: powderblue">
        <h1 align="center"><I><B><U>Welcome to Your Playlist</U></I></h1></B></h1>
    {% if all_albums %}
        <ul>
            {% for album in all_albums %}
               <li><I><B><h2> <a href ="/music/{{album.id}}">{{album.album_name}}</h2></B></I></a></li>
            {% endfor %}
        </ul>
    {% else %}
       <h3> You dont have any albums </h3>
    {% endif %}
</body>
</html>


